<h1>Listing articles</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Name</th>
      <th>Content</th>
      <th>Author approval</th>
      <th>Admin approval</th>
      <th>Publisher req</th>
      <th>Buy approval</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.user %></td>
        <td><%= article.name %></td>
        <td><%= article.content %></td>
        <td><%= article.author_approval %></td>
        <td><%= article.admin_approval %></td>
        <td><%= article.publisher_req %></td>
        <td><%= article.buy_approval %></td>
        <td><%= link_to 'Show', user_articles_path(article) %></td>
        <td><%= link_to 'Edit', edit_user_article_path(article) %></td>
        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article', new_article_path %>
