<p>
  <strong>Author:</strong>
  <%= @article.user.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @article.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @article.content %>
</p>

<%if @list_of_requested.first!=nil%>
  List of publishers whose request is pending for "<%= @article.name %>": 
  <table class="table table-hover table-bordered table-condensed">
    <tr>
      <th>Name</th>
      <th>Email</th>
    </tr>
  <p><% @list_of_requested.each do |t| %></p>
    <tr>
     <p><td><%= t.publisher.name%></td> 
     <td><%= t.publisher.email%></td></p>
    </tr>
     <p><%end %></p>
</table>
<p><% end %></p>



<%if @list_of_publisher.first!= nil%>
  List of publishers who purchased "<%= @article.name %>" : 

  <table>
    <tr>
      <th>Name</th>
      <th>Email</th>
    </tr>
    <p><% @list_of_publisher.each do |t| %></p>
    <tr>
     <p><td><%= t.publisher.name%></td> 
     <td><%= t.publisher.email%></td></p>
    </tr>
     <p><%end %></p>
  </table>
<p><% end %></p>


<%if current_user.role == "Author"%>
  <%= link_to 'Back', display_user_article_path(current_user), :class => "btn btn-info btn-sm" %>

<%elsif current_user.role == "Admin"%>
  <%= link_to 'Back', user_path(current_user), :class => "btn btn-info btn-sm" %>

<%elsif current_user.role == "Publisher"%>
  <%= link_to 'Back', display_available_for_publisher_path(current_user), :class => "btn btn-info btn-sm" %>
<%end%>